.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}



.pokemon {
    margin: .5rem;
    padding: 1rem 1rem;
    color: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}


.normal     { background-color: #e0c068;}
.fire       { background-color: #c85450;}
.fighting   { background-color: #c03028;}
.water      { background-color: #6890f0;}
.poison     { background-color: #a040a0;}
.electric   { background-color: #bcf830;}
.ground     { background-color: #a8a878;}
.grass      { background-color: #78c850;}
.flying     { background-color: #a890f0;}
.ice        { background-color: #98d8d8;}
.bug        { background-color: #a8b820;}
.psychic    { background-color: #f85888;}
.rock       { background-color: #b8a038;}
.dragon     { background-color: #7038f8;}
.ghost      { background-color: #705898;}
.dark       { background-color: #705848;}
.steel      { background-color: #b8b8d0;}
.fairy      { background-color: #ffb7fa;}






.pokemon .detail img{
    max-width: 100%;
    border-style: none;
    height: 100px;
    align-self: flex-end;
}


.pokemon .number{
    color: #0e7e57;
    text-align: right;
    font-size: .8rem;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: white;
    padding: .25rem .5rem;
    margin: .5rem;
    border-radius: 2rem;
    font-size: .8rem;
    filter: brightness(1.2);
    text-align: center;
    text-shadow: 0 0 3px rgb(5, 1, 1);
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .name{
    color: white;
    margin-bottom: .25rem;
    text-transform: capitalize;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: white;
    background-color: #7038f8;
    border: none;
    border-radius: 1rem;
}


@media screen and (min-width:962px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:768px) and  (max-width:800px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:380px) and (max-width:562px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}




